@model IEnumerable<smartlivestock.Models.Doses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Morning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afternoon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosesDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Morning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afternoon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosesDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DosesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DosesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DosesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
