@model smartlivestock.Models.GeneralExamination

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>General Examination Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsrName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsrName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.GenId">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>
