@model IEnumerable<smartlivestock.Models.FlowUp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FloName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FloId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FloId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FloId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
