 @model List<PrescriptionViewModel>

@{
    ViewData["Title"] = "Prescriptions";
}


<div class="form-group" style="position: fixed;">

    <a class="btn btn-primary" onclick="printDiv()">Print</a>

</div>

<!--For anythigs-->
@{
   
}

}
<style>
   .pr-area {
        width: 8.27in; /*A4 width in inches */
        height: 11.98in; /*A4 height in inches */    
        margin: 0 auto;
        font-family: Arial,sans-serif;
       /* cursor: pointer;*/
    
    }


    .signature-table {
        border-collapse: collapse;
        width: 50%;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

        .signature-table td {
            border: none;
            text-align: left;
            vertical-align: top;
        }


    .fpr-pic {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        height: 100px; 
        width: 120px;
        border-radius:50%;
    }

 
</style>

<div class="col-sm-12 pr-area" id="print_are">

  <div style="border: 4px solid blue; padding: 0.2in; width:8.27in; height:11.98in;">
      
      <!--Header informations-->
        <table style="border-collapse:collapse; width:100%; margin:auto; border-radius:20px; table-layout:fixed;">
            <tr>
                <td style="width:10%; text-align:center;">
                    @if (Model.First().FalPhotoUrl != null)
                    {
                        <img src="~/FacilitiImages/@Model.First().FalPhotoUrl" class="fpr-pic" alt="Left Logo" />
                    }
                    else
                    {
                        <img src="~/images/noimage.png" class="fpr-pic" alt="No Image Available" />
                    }
                </td>
                <td style="width:80%; text-align:center;">
                    <b style="color:blue; font-size:30px;">@Model.First().OrganizationName </b>
                    <p style="font-size:25px;">@Model.First().UnionName,@Model.First().UpozillaName,@Model.First().DistricName</p>
                    <p style="font-size:20px;">@Model.First().FacilityEmail,@Model.First().FacilityMobile</p>
                </td>
                <td style="width:10%; text-align:center;">
                    @if (Model.First().FarPhotoUrl != null)
                    {
                        <img src="~/FacilitiImages/@Model.First().FarPhotoUrl" class="fpr-pic" alt="Right Logo"/>
                    }
                    else
                    {
                        <img src="~/images/noimage.png" class="fpr-pic" alt="No Image Available" />
                    }
                </td>
            </tr>
        </table>

      <!--Dr informations-->

       @*  <table style="border-collapse:collapse; width:100%; margin:auto; border:1px solid black; border-radius:20px;">

     
      
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                   Dr.Name: @Model.First().UserFullName
                </td>
         
                <td style="border:none; padding: 4px; text-align: left;">
                    Address: @Model.First().Address
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().PhoneNumber
                </td>
            </tr>
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    RegiNo: @Model.First().DVMRegiNo
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    PassingYear: @Model.First().PassingYear
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Educations: @Model.First().Degree
                </td>
              
                
            </tr>
            <tr>
                
                <td style="border:none; padding: 4px; text-align: left;">
                    PresentAddrss: @Model.First().PresentAddrss
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    EmailNo: @Model.First().EmailNo
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Facebook: @Model.First().Facebook
                </td>
            </tr>
            <tr>
               
                <td style="border:none; padding: 4px; text-align: left;">
                    Website: @Model.First().Website
                </td>
                
                <td style="border:none; padding: 4px; text-align: left;">
                    ExpireDate: @Model.First().ExpireDate
                </td>
            </tr>


      </table> *@

      <!--For pateint informations-->
      <br />
        <table style="border-collapse:collapse; width:100%; margin:auto; border:1px solid black; border-radius:20px;">
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Woner Name: @Model.First().ReName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Gender: @Model.First().GenderRe
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Ages: @Model.First().Ages
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().Phone
                </td>
                <td>
                    <img src="@ViewBag.BarcodePath" alt="Generated Barcode" style="width: 90px; height:30px;" />
                </td>

            </tr>

        </table>

    <!-- ------------------------------------------------------------------------------------------------------------------------------------<br />
        -->
        <table style="border-collapse:collapse; width:100%; margin:auto; ">
            <tr>             
                <td style="border:none; text-align:left; width:50%; vertical-align:top;">
                    
                    <b>Chif compliment</b>
                   
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ChiName)))
                        {
                            <li>@i.ChiName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left; width:50%;  vertical-align:top;">
                    <b>Rx</b> 
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.MedName)))
                        {
                            <li>@i.MedName &nbsp; @i.Sokal + @i.Duput + @i.Rat</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: none;  text-align: left; width:50%; vertical-align:top;">
                    <b>General Examinations</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ExamName)))
                        {
                            <li>@i.ExamName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left;width:50%; vertical-align:top;">
                    <b>Advices</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.AdvName)))
                        {
                            <li>@i.AdvName</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <td style="border:none;  text-align: left;width:50%; vertical-align:top;">
                    <b>Diagnosis</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.DiagName)))
                        {
                            <li>@i.DiagName</li>
                        }
                    </ul>
                </td>
                <td style="border: none; text-align: left;width:50%; vertical-align:top;">
                    <b>FlowUp</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.FloName)))
                        {
                            <li>@i.FloName</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left;width:50%; vertical-align:top;">
                    <b>Investigations</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.InvName)))
                        {
                            <li>@i.InvName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left;width:50%; vertical-align:top;">
                    <b>Referred to</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ReferredName)))
                        {
                            <li>@i.ReferredName</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <td style="position: absolute; bottom: 200px; right: 100px; font-size: 16pt; line-height:15px;">
                    <p>@Model.First().UserFullName</p>
                    <p> @Model.First().Degree</p>
                    <p>@Model.First().PhoneNumber</p>
                    <p>@Model.First().EmailNo</p>
                    <p>@DateTime.Now </p>

                </td>

            </tr>

        </table>  

    </div>

 

</div>


<script>

    function printDiv() {
        var printContents = document.getElementById("print_are").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

    }



</script>
