 @model List<PrescriptionViewModel>

@{
    ViewData["Title"] = "Prescriptions";
}


<div class="form-group" style="position: fixed;">

    <a class="btn btn-primary" onclick="printDiv()">Print</a>

</div>

<!--For Current Date Time Print -->
@{
    DateTime d = DateTime.Now;
    string kk = d.ToString("dd-MM-yyyy");

    DateTime pp = DateTime.Now;

    // Function to convert regular numbers to Bengali numerals
    string ConvertToBengaliDigits(int number)
    {
        string[] bengaliDigits = { "০", "১", "২", "৩", "৪", "৫", "৬", "৭", "৮", "৯" };
        string numberString = number.ToString();
        string bengaliNumber = string.Join("", numberString.Select(c => bengaliDigits[Convert.ToInt32(c.ToString())]));
        return bengaliNumber;
    }

    string mm = pp.ToString("dd-MM-yyyy", new System.Globalization.CultureInfo("bn-BD"));

    // Extracting day, month, and year from the formatted date
    string[] dateParts = kk.Split('-');
    int day = int.Parse(dateParts[0]);
    int month = int.Parse(dateParts[1]);
    int year = int.Parse(dateParts[2]);

    // Convert day, month, and year to Bengali digits
    string bengaliDay = ConvertToBengaliDigits(day);
    string bengaliMonth = ConvertToBengaliDigits(month);
    string bengaliYear = ConvertToBengaliDigits(year);

    // Form the date in the Bengali numeral format
    string bengaliDate = $"{bengaliDay}-{bengaliMonth}-{bengaliYear}";

    // Output the date
}

}
<style>
   .pr-area {
        width: 8.27in; /*A4 width in inches */
        height: 11.98in; /*A4 height in inches */    
        margin: 0 auto;
        font-family: Arial,sans-serif;
       /* cursor: pointer;*/
    
    }


    .signature-table {
        border-collapse: collapse;
        width: 50%;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

        .signature-table td {
            border: none;
            text-align: left;
            vertical-align: top;
        }


    .fpr-pic {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        height: 100px; 
        width: 120px;
    }

 
</style>

<div class="col-sm-12 pr-area" id="print_are">

  <div style="border: 4px solid blue; padding: 0.2in; width:8.27in; height:11.98in;">
      
      <!--Header informations-->
        <table style="border-collapse:collapse; width:100%; margin:auto; border-radius:20px; table-layout:fixed;">
            <tr>
                <td style="width:10%; text-align:center;">
                    @if (Model.First().FalPhotoUrl != null)
                    {
                        <img src="~/FacilitiImages/@Model.First().FalPhotoUrl" class="fpr-pic" alt="Left Logo" />
                    }
                    else
                    {
                        <img src="~/images/noimage.png" class="fpr-pic" alt="No Image Available" />
                    }
                </td>
                <td style="width:80%; text-align:center;">
                    @Model.First().FacilityHeadInfomations
                </td>
                <td style="width:10%; text-align:center;">
                    @if (Model.First().FarPhotoUrl != null)
                    {
                        <img src="~/FacilitiImages/@Model.First().FarPhotoUrl" class="fpr-pic" alt="Right Logo" />
                    }
                    else
                    {
                        <img src="~/images/noimage.png" class="fpr-pic" alt="No Image Available" />
                    }
                </td>
            </tr>
        </table>

      <!--Dr informations-->

        <table style="border-collapse:collapse; width:100%; margin:auto; border:1px solid black; border-radius:20px;">

     
      
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Name: @Model.First().UserFullName
                </td>
         
                <td style="border:none; padding: 4px; text-align: left;">
                    Address: @Model.First().Address
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().PhoneNumber
                </td>
            </tr>
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    RegiNo: @Model.First().DVMRegiNo
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    PassingYear: @Model.First().PassingYear
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Educations: @Model.First().Degree
                </td>
              
                
            </tr>
            <tr>
                
                <td style="border:none; padding: 4px; text-align: left;">
                    PresentAddrss: @Model.First().PresentAddrss
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    EmailNo: @Model.First().EmailNo
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Facebook: @Model.First().Facebook
                </td>
            </tr>
            <tr>
               
                <td style="border:none; padding: 4px; text-align: left;">
                    Website: @Model.First().Website
                </td>
                
                <td style="border:none; padding: 4px; text-align: left;">
                    ExpireDate: @Model.First().ExpireDate
                </td>
            </tr>


      </table>

      <!--For pateint informations-->
      <br />
        <table style="border-collapse:collapse; width:100%; margin:auto; border:1px solid black; border-radius:20px;">
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Woner Name: @Model.First().ReName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Gender: @Model.First().GenderRe
                </td>
                <td rowspan="2">
                    <img src="@ViewBag.BarcodePath" alt="Generated Barcode" style="width: 300px; height:50px;" />
                </td>

            </tr>
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Ages: @Model.First().Ages
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().Phone
                </td>

            </tr>

        </table>

    <!-- ------------------------------------------------------------------------------------------------------------------------------------<br />
        -->
        <table style="border-collapse:collapse; width:100%; margin:auto; ">
            <tr>             
                <td style="border:none; text-align:left; width:50%; vertical-align:top;">
                    
                    <b>Chif compliment</b>
                   
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ChiName)))
                        {
                            <li>@i.ChiName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left; width:50%;  vertical-align:top;">
                    <b>Rx</b> 
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.MedName)))
                        {
                            <li>@i.MedName &nbsp; @i.Sokal + @i.Duput + @i.Rat</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: none;  text-align: left; width:50%; vertical-align:top;">
                    <b>General Examinations</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ExamName)))
                        {
                            <li>@i.ExamName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left;width:50%; vertical-align:top;">
                    <b>Advices</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.AdvName)))
                        {
                            <li>@i.AdvName</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <td style="border:none;  text-align: left;width:50%; vertical-align:top;">
                    <b>Diagnosis</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.DiagName)))
                        {
                            <li>@i.DiagName</li>
                        }
                    </ul>
                </td>
                <td style="border: none; text-align: left;width:50%; vertical-align:top;">
                    <b>FlowUp</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.FloName)))
                        {
                            <li>@i.FloName</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left;width:50%; vertical-align:top;">
                    <b>Investigations</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.InvName)))
                        {
                            <li>@i.InvName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left;width:50%; vertical-align:top;">
                    <b>Referred to</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ReferredName)))
                        {
                            <li>@i.ReferredName</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>

                <td style="position: absolute; bottom: 200px; right: 100px; font-size: 16pt;">
                     _________________________ <br />
                     @Model.First().UserFullName <br />
                     @DateTime.Now
                </td>

            </tr>

        </table>  

    </div>

 

</div>


<script>

    function printDiv() {
        var printContents = document.getElementById("print_are").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

    }

</script>
