 @model List<PrescriptionViewModel>

@{
    ViewData["Title"] = "Prescriptions";
}


<div class="form-group" style="position: fixed;">

    <a class="btn btn-primary" onclick="printDiv()">Print</a>

</div>

<!--For Current Date Time Print -->
@{
    DateTime d = DateTime.Now;
    string kk = d.ToString("dd-MM-yyyy");

    DateTime pp = DateTime.Now;

    // Function to convert regular numbers to Bengali numerals
    string ConvertToBengaliDigits(int number)
    {
        string[] bengaliDigits = { "০", "১", "২", "৩", "৪", "৫", "৬", "৭", "৮", "৯" };
        string numberString = number.ToString();
        string bengaliNumber = string.Join("", numberString.Select(c => bengaliDigits[Convert.ToInt32(c.ToString())]));
        return bengaliNumber;
    }

    string mm = pp.ToString("dd-MM-yyyy", new System.Globalization.CultureInfo("bn-BD"));

    // Extracting day, month, and year from the formatted date
    string[] dateParts = kk.Split('-');
    int day = int.Parse(dateParts[0]);
    int month = int.Parse(dateParts[1]);
    int year = int.Parse(dateParts[2]);

    // Convert day, month, and year to Bengali digits
    string bengaliDay = ConvertToBengaliDigits(day);
    string bengaliMonth = ConvertToBengaliDigits(month);
    string bengaliYear = ConvertToBengaliDigits(year);

    // Form the date in the Bengali numeral format
    string bengaliDate = $"{bengaliDay}-{bengaliMonth}-{bengaliYear}";

    // Output the date
}

}
<style>
   .pr-area {
        width: 8.27in; /*A4 width in inches */
        height: 11.98in; /*A4 height in inches */    
        margin: 0 auto;
        font-family: Arial,sans-serif;
       /* cursor: pointer;*/
    
    }


    .signature-table {
        border-collapse: collapse;
        width: 50%;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

        .signature-table td {
            border: none;
            text-align: left;
            vertical-align: top;
        }
 
</style>

<div class="col-sm-12 pr-area" id="print_are">

  <div style="border: 5px solid #0a2efd; padding: 0.2in; width:8.27in; height:11.98in;">


      <table style="border-collapse:collapse; width:100%; margin:auto;">
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Name: @Model.First().UserFullName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Gender: @Model.First().Gender
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Address: @Model.First().Address
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().PhoneNumber
                </td>
            </tr>
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Name: @Model.First().UserFullName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Gender: @Model.First().Gender
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Address: @Model.First().Address
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().PhoneNumber
                </td>
            </tr>
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Name: @Model.First().UserFullName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Gender: @Model.First().Gender
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Address: @Model.First().Address
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Phone: @Model.First().PhoneNumber
                </td>
            </tr>


      </table>
      <br />
      <br />
        <table style="border-collapse:collapse; width:100%; margin:auto; ">
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    Name: @Model.First().ReName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Gender: @Model.First().GenderRe
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                  
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    Age: @Model.First().Ages
                </td>
            </tr>

        </table>

     ------------------------------------------------------------------------------------------------------------------------------------<br />

        <table style="border-collapse:collapse; width:100%; margin:auto; ">
            <tr>             
                <td style="border:none; text-align:left; width:50%; vertical-align:top;">
                    
                    <b>Chif compliment</b>
                   
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ChiName)))
                        {
                            <li>@i.ChiName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left; width:50%;  vertical-align:top;">
                    <b>Rx</b> 
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.MedName)))
                        {
                            <li>@i.MedName &nbsp; @i.Sokal + @i.Duput + @i.Rat</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: none;  text-align: left; width:50%; vertical-align:top;">
                    <b>General Examinations</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ExamName)))
                        {
                            <li>@i.ExamName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left;width:50%; vertical-align:top;">
                    <b>Advices</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.AdvName)))
                        {
                            <li>@i.AdvName</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <td style="border:none;  text-align: left;width:50%; vertical-align:top;">
                    <b>Diagnosis</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.DiagName)))
                        {
                            <li>@i.DiagName</li>
                        }
                    </ul>
                </td>
                <td style="border: none; text-align: left;width:50%; vertical-align:top;">
                    <b>FlowUp</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.FloName)))
                        {
                            <li>@i.FloName</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: none; text-align: left;width:50%; vertical-align:top;">
                    <b>Investigations</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.InvName)))
                        {
                            <li>@i.InvName</li>
                        }
                    </ul>
                </td>
                <td style="border:none; text-align: left;width:50%; vertical-align:top;">
                    <b>Referred to</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ReferredName)))
                        {
                            <li>@i.ReferredName</li>
                        }
                    </ul>
                </td>
            </tr>




            


        </table>
  

    </div>

 

</div>


<script>

    function printDiv() {
        var printContents = document.getElementById("print_are").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

    }

</script>
