
 @model List<PrescriptionViewModel>

@{
    ViewData["Title"] = @Model.First().ReName + "_" + @Model.First().Phone + "_" + @Model.First().PresName;
}

<!-- for dependancy null-->

@{
    string thacomma = string.Empty;
    string unioncomma = string.Empty;
    string emailcomma = string.Empty;


    string chif = string.Empty;
    string rx = string.Empty;
    string exm = string.Empty;
    string adv = string.Empty;
    string diag = string.Empty;
    string flow = string.Empty;
    string inv = string.Empty;
    string rfto = string.Empty;
    string species = string.Empty;
    string din = string.Empty;
    string qty = string.Empty;
    string gndr = string.Empty;
    string age = string.Empty;
    string ptid = string.Empty;
    string woner = string.Empty;



    if (Model.First().ChiName != null)
    {
        chif = "Clinical signs";
    }
    if (Model.First().MedName != null)
    {
        rx = "Rx";
    }
    if (Model.First().ExamName != null)
    {
        exm = "General Examinations";
    }
    if (Model.First().AdvName != null)
    {
        adv = "Advices";
    }
    if (Model.First().DiagName != null)
    {
        diag = "Diagnosis T/D";
    }
    if (Model.First().FloName != null)
    {
        flow = "Fllow Up";
    }
    if (Model.First().InvName != null)
    {
        inv = "Investigation";
    }
    if (Model.First().ReferredName != null)
    {
        rfto = "Referred To";
    }

    // for header

    if (Model.First().UpozillaName != null && Model.First().DistricName != null)
    {
        thacomma = ",";
    }

    if (Model.First().UnionName != null && Model.First().UpozillaName !=null)
    {
        unioncomma = ",";
    }

    if (Model.First().UnionName != null && Model.First().DistricName !=null)
    {
        unioncomma = ",";
    }

    if (Model.First().FacilityEmail != null && Model.First().FacilityMobile != null)
    {
        emailcomma = ",";
    }
    if (Model.First().SpeciesAges != null)
    {
        din = Model.First().TypeOfAge;
    }
    if (Model.First().SpeciesQuentity != null)
    {
        qty = "Pcs";
    }
    if (Model.First().SpeciesName != null)
    {
        woner = "Woner:";
        species = "|| Species:";
    }
    if(Model.First().SpeciesName == null)
    {
        gndr ="Gender:"+Model.First().GenderRe;
        age ="Ages:"+Model.First().Ages;
        ptid = "ID:" + Model.First().PtnId;
        woner = "Patient:";
    }


  


}



<div class="form-group" style="position: fixed;">

    <a class="btn btn-primary" onclick="printDiv()">Print</a>

</div>

<link href="~/css/prescrip.css" rel="stylesheet" />


<div class="col-sm-12 pr-area" id="print_are">

    <div style="border: 4px solid blue; padding: 0.2in; width:8.27in; height:11.98in;">

        <!--Header informations-->
        <table style="border-collapse:collapse; width:100%; margin:auto; border-radius:20px; table-layout:fixed;">
            <tr>
                <td style="width:10%; text-align:center;">
                    @if (Model.First().FalPhotoUrl != null)
                    {
                        <img src="~/FacilitiImages/@Model.First().FalPhotoUrl" class="fpr-pic" alt="Left Logo" />
                    }
                    else
                    {
                        <img src="~/images/noimage.png" class="fpr-pic" alt="No Image Available" />
                    }
                </td>
                <td style="width:80%; text-align:center; ">
                    <b style="color:blue; font-size:28px; line-height:40px;">@Model.First().OrganizationName </b>
                    <p style="font-size:22px;line-height:25px;">@Model.First().UnionName@unioncomma @Model.First().UpozillaName@thacomma @Model.First().DistricName</p>
                    <p style="font-size:20px;line-height:1px;">@Model.First().FacilityEmail@emailcomma@Model.First().FacilityMobile</p>
                </td>
                <td style="width:10%; text-align:center;">
                    @if (Model.First().FarPhotoUrl != null)
                    {
                        <img src="~/FacilitiImages/@Model.First().FarPhotoUrl" class="fpr-pic" alt="Right Logo"/>
                    }
                    else
                    {
                        <img src="~/images/noimage.png" class="fpr-pic" alt="No Image Available" />
                    }
                </td>
            </tr>
        </table>

        <!--Dr informations-->
        @*  <table style="border-collapse:collapse; width:100%; margin:auto; border:1px solid black; border-radius:20px;">



        <tr>
        <td style="border:none; padding: 4px; text-align: left;">
        Dr.Name: @Model.First().UserFullName
        </td>

        <td style="border:none; padding: 4px; text-align: left;">
        Address: @Model.First().Address
        </td>
        <td style="border:none; padding: 4px; text-align: left;">
        Phone: @Model.First().PhoneNumber
        </td>
        </tr>
        <tr>
        <td style="border:none; padding: 4px; text-align: left;">
        RegiNo: @Model.First().DVMRegiNo
        </td>
        <td style="border:none; padding: 4px; text-align: left;">
        PassingYear: @Model.First().PassingYear
        </td>
        <td style="border:none; padding: 4px; text-align: left;">
        Educations: @Model.First().Degree
        </td>


        </tr>
        <tr>

        <td style="border:none; padding: 4px; text-align: left;">
        PresentAddrss: @Model.First().PresentAddrss
        </td>
        <td style="border:none; padding: 4px; text-align: left;">
        EmailNo: @Model.First().EmailNo
        </td>
        <td style="border:none; padding: 4px; text-align: left;">
        Facebook: @Model.First().Facebook
        </td>
        </tr>
        <tr>

        <td style="border:none; padding: 4px; text-align: left;">
        Website: @Model.First().Website
        </td>

        <td style="border:none; padding: 4px; text-align: left;">
        ExpireDate: @Model.First().ExpireDate
        </td>
        </tr>


        </table> *@

        <!--For pateint informations-->
        <br />
        <table style="border-collapse:collapse; width:100%; margin:auto; border:1px solid black; border-radius:20px;">
            <tr>
                <td style="border:none; padding: 4px; text-align: left;">
                    @woner @Model.First().ReName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    @ptid
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                     Phone: @Model.First().Phone
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    @gndr
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    @age
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    @species @Model.First().SpeciesName
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    @Model.First().SpeciesGender
                </td>
                <td style="border:none; padding: 4px; text-align: left;">
                    @Model.First().SpeciesAges @din
                </td>

                <td style="border:none; padding: 4px; text-align: left;">
                    @Model.First().SpeciesQuentity @qty
                </td>
                <td>
                    <img src="@ViewBag.BarcodePath" alt="Generated Barcode" style="width: 90px; height:30px;" />
                </td>

            </tr>

        </table>

        <!-- ------------------------------------------------------------------------------------------------------------------------------------<br />
            -->
        <br />
        <table style="border-collapse:collapse; width:100%; margin:auto; ">
            <tr>
                <td style="border:none; text-align:left; width:50%; vertical-align:top;">

                    <b style="font-size:18px;"> @chif</b>

                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ChiName)))
                        {

                            <li>@i.ChiName</li>
                        }
                    </ul>

                    <b style="font-size:18px;"> @exm</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ExamName)))
                        {
                            <li>@i.ExamName</li>
                        }
                    </ul>



                    <b style="font-size:18px;"> @diag</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.DiagName)))
                        {
                            <li>@i.DiagName</li>
                        }
                    </ul>
                   
                    <b style="font-size:18px;"> @inv</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.InvName)))
                        {
                            <li>@i.InvName</li>
                        }
                    </ul>
          
               
                   
             
                   
                </td>
           
                <td style="border:none;  text-align: left;width:50%; vertical-align:top;">

                    <b style="font-size:18px;"> @rx</b>
                    <ul>
                        @foreach (var i in Model)
                        {
                            var mediType = i.MediType ?? string.Empty;
                            var medName = i.MedName ?? string.Empty;
                            var genName = i.GenName ?? string.Empty;
                            var sokal = i.Sokal?.ToString() ?? string.Empty;
                            var duput = i.Duput?.ToString() ?? string.Empty;
                            var rat = i.Rat?.ToString() ?? string.Empty;
                            var shortNoteName = i.ShortNoteName ?? string.Empty;
                            var duration = i.Duration?.ToString() ?? string.Empty;
                            var durationType = i.DurationType ?? string.Empty;

                            if (!string.IsNullOrEmpty(medName))
                            {
                                <li>
                                    <b>@mediType @medName</b>
                                    <i style="color:dimgrey;"> (@genName)</i><br />
                                    @sokal + @duput + @rat (@shortNoteName) - @duration @durationType
                                </li>
                            }
                        }


                    </ul> 
                   
                    <b style="font-size:18px;"> @adv</b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.AdvName)))
                        {
                            <li>@i.AdvName</li>
                        }
                    </ul>

                    <b style="font-size:18px;"> @flow </b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.FloName)))
                        {
                            <li>@i.FloName</li>
                        }
                    </ul>
                
               
                    <b style="font-size:18px;"> @rfto </b>
                    <ul>
                        @foreach (var i in Model.Where(m => !string.IsNullOrEmpty(m.ReferredName)))
                        {
                            <li>@i.ReferredName</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <td style="position: absolute; bottom: 150px; left: 500px; font-size: 16pt; line-height:14px;">
                    <p>@Model.First().UserFullName</p>
                    <p> @Model.First().Degree</p>
                    <p>@Model.First().PhoneNumber</p>
                    <p>@Model.First().EmailNo</p>
                    <p>@DateTime.Now </p>

                </td>

            </tr>

            

        </table>

       
       

    </div>



</div>


<script>

    function printDiv() {
        var printContents = document.getElementById("print_are").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

    }

</script>
