@model smartlivestock.Models.ShortNote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShortNote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortNoteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortNoteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SrUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SrUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShortId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
